<!--Employee Details Page-->
<div class="h-100 w-100">
    <h6 class="text-right mr-4 mt-4">Welcome <%=name%><i class="fa-solid fa-user fa-2x mx-2 text-primary"></i>
            </span><a href='/login' class="text-dark text-decoration-none mx-2">Log out<i
                    class="ml-2 text-danger fa-solid fa-right-from-bracket fa-2x"></i></a></h6>
    <div class="container d-flex">

        <ul class="list-group w-50">
            <!--My rEviews-->
            <h6>My Reviews</h6>
            <%if(myReviews.length!=0){%>
                <%myReviews && myReviews.forEach(e=>{%>
                    <li style="background-color:rgb(215, 242, 242)" class="list-group-item">
                        <h6><strong class="ml-1">From:</strong><span class="ml-1 badge badge-success">
                                <%=e.from%>
                            </span></h6>
                        <span class="ml-3">Review:</span>
                        <span class=" ">
                            <%=e.reviews%>
                        </span>
                    </li>
                    <%})%>
                        <%}else{%>
                            <h1 class="mt-5 text-danger">NO REVIEWS YET!!</h1>
                            <%}%>
        </ul>

        <!--Assign Review-->
        <ul class="list-group w-50 d-flex flex-column align-items-center list-unstyled">
            <h6>Assign Employee To Review</h6>
            <form method="post" action="/admin/assign" class="w-75">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">From</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="from">
                        <option selected>Choose...</option>
                        <%employee.forEach(e=>{%>
                            <%if(e.email!=email){%>
                                <option value=<%=e.email%>>
                                    <%=e.email%>
                                </option>
                                <%}%>
                                    <%})%>

                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">To</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="to">
                        <option selected>Choose...</option>
                        <%employee.forEach(e=>{%>
                            <%if(e.email!=email){%>
                                <option value=<%=e.email%>>
                                    <%=e.email%>
                                </option>
                                <%}%>
                                    <%})%>
                    </select>
                </div>
                <button type="submit" class="btn w-100 btn-md btn-block btn-primary">Assign</button>
            </form>

            <!---Make Employee Admin-->
            <h6 class="mt-3">Make Employee Admin</h6>
            <form method="post" action="/admin" class="w-75">
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01" name="email">
                        <option selected>Choose Employee</option>
                        <%employee.forEach(e=>{%>
                            <%if(e.email!=email){%>
                                <option value=<%=e.email%>>
                                    <%=e.email%>
                                </option>
                                <%}%>
                                    <%})%>
                    </select>
                </div>
                <button type="submit" class="btn  btn-md btn-block btn-primary">Make Admin</button>
            </form>
        </ul>
    </div>
    <!--Add review-->
    <!--Update employee-->
    <div class="container w-100 h-50">
        <ul class="list-group w-100">
            <!--My rEviews-->
            <h6>Employees LIst</h6>
            <%employee!=undefined && employee.forEach(r=>{%>
                <%if(r.email!=email){%>
                    <li style="background-color:rgb(223, 242, 247)"
                        class="list-group-item d-flex justify-content-between">
                        <span>
                            <i class="fa-solid fa-user mr-2 text text-info"></i>
                            <%=r.name%>
                        </span>
                        <div class="d-flex justify-content-end w-25">
                            <a href="admin/view/<%=r._id%>"
                                class="text-decoration-none ml-3 fa-solid fa-eye text-primary"></a>
                            <a href="admin/delete/<%=r._id%>"
                                class="text-decoration-none ml-3 fa-solid fa-trash text-danger"></a>
                        </div>
                    </li>
                    <%}%>
                        <%})%>
                            <a class="mt-2 btn btn-md btn-block btn-primary" href="/">Add Employee</a>
        </ul>
    </div>
</div>